openapi: 3.2.0
info:
  description: Documentation for the Moneyhub data API. <br/>Authentication is via bearer token. <br/>
  title: Moneyhub Data Standard Financial Statements API
  version: 2.0.0
  x-build-sha: 5d5191d
servers:
- url: https://api.moneyhub.co.uk/v2.0
security:
- Bearer: []
tags:
- name: standard-financial-statements
paths:
  /standard-financial-statements/{reportId}:
    get:
      summary: Get an existing standard financial statement for a user
      description: Requires **standard_financial_statement:read** scope.
      parameters:
      - description: The Report Id
        in: path
        name: reportId
        required: true
        x-example: 0b4e6488-6de0-420c-8f56-fee665707d57
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful Standard Financial Statement Response
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/StandardFinancialStatement'
                  links:
                    $ref: '#/components/schemas/Links'
                  meta:
                    type: object
                type: object
        '401':
          description: Unsuccessful Response - Not authorised - Missing authorization header - Invalid access Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unsuccessful Response - Forbidden - Invalid scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unsuccessful Response - Resource Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - standard-financial-statements
  /standard-financial-statements:
    get:
      summary: List of metadata for all standard financial statements for a user
      description: Requires **standard_financial_statement:read** scope.
      parameters:
      - description: The total number of records to retrieve
        in: query
        name: limit
        schema:
          type: integer
          maximum: 1000
          minimum: 0
      - description: The offset at which to start retrieving records
        in: query
        name: offset
        schema:
          type: integer
          maximum: 1000000000
          minimum: 0
      responses:
        '200':
          description: Successful Standard Financial Statement Response
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StandardFinancialStatementsMetadata'
                  links:
                    $ref: '#/components/schemas/Links'
                  meta:
                    type: object
                type: object
        '401':
          description: Unsuccessful Response - Not authorised - Missing authorization header - Invalid access Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unsuccessful Response - Forbidden - Invalid scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unsuccessful Response - Resource Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - standard-financial-statements
    post:
      summary: Request standard financial statement for a user
      description: Requires **standard_financial_statement:write** and **standard_financial_statement:read** scopes.
      responses:
        '200':
          description: Successful Standard Financial Statement Response
          content:
            application/json:
              schema:
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      id:
                        description: The standard financial statement ID
                        type: string
                      status:
                        description: Whether the report is 'complete', 'pending' or 'failed'. This will always be 'pending' when using this endpoint.
                        type: string
                        enum:
                        - pending
                    required:
                    - id
                    - status
                    type: object
                  links:
                    $ref: '#/components/schemas/Links'
                  meta:
                    type: object
                type: object
        '401':
          description: Unsuccessful Response - Not authorised - Missing authorization header - Invalid access Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Unsuccessful Response - Forbidden - Invalid scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Unsuccessful Response - Resource Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - standard-financial-statements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardFinancialStatementsPost'
components:
  schemas:
    Links:
      additionalProperties: false
      properties:
        next:
          description: The url to retrieve the next page of results from
          format: uri
          type: string
        prev:
          description: The url to retrieve the previous page of results from
          format: uri
          type: string
        self:
          description: The url of the current resource(s)
          format: uri
          type: string
      required:
      - self
      type: object
    StandardFinancialStatementsMetadata:
      additionalProperties: false
      type: object
      properties:
        createdAt:
          description: The timestamp at which the standard financial statement was generated
          type: string
        requestedAt:
          description: The timestamp at which the standard financial statement was requested
          type:
          - string
          - 'null'
        id:
          description: The standard financial statement ID
          type: string
        status:
          description: Whether the standard financial statement is 'complete', 'pending' or 'failed'.
          type: string
          enum:
          - pending
          - complete
          - failed
        statusDetails:
          description: Additional information about the status of the standard financial statement (if applicable)
          type: object
          additionalProperties: true
          properties:
            message:
              description: A message describing the status of the standard financial statement, e.g. an error if the standard financial statement status is 'failed'
              type: string
      example:
        createdAt: '2022-01-01T00:00:00Z'
        requestedAt: '2021-12-31T23:00:00Z'
        id: d372d09b-f50a-4114-9c83-687828fa8ac2
        status: complete
      required:
      - id
    StandardFinancialStatement:
      type: object
      additionalProperties: false
      required:
      - createdAt
      - id
      - version
      - '2.1'
      - currency
      properties:
        createdAt:
          description: The timestamp at which the report was generated
          type: string
        id:
          description: The report id
          type: string
        version:
          description: The standard financial schema version used as defined by the Money Advice Service
          type: string
          enum:
          - '2.1'
        currency:
          description: The currency used for all amounts in the standard financial statement
          type: string
        '2.1':
          description: The contents of the standard financial statement in version 2.1 schema. Will be present only if version property is equal to 2.1
          type: object
          required:
          - vehicles
          - housing-tenure
          - client-employment-status
          properties:
            vehicles:
              description: The number of vehicles in the household
              type: integer
            housing-tenure:
              description: The predicted category of housing tenure
              type: string
              enum:
              - Owner
              - Mortgage
              - Living with parents
              - Tenant - private sector
              - Tenant - social
              - Other
            client-employment-status:
              description: The predicted category of employment
              type: string
              enum:
              - Full-time
              - Part-time
              - Unemployed
              - Not working due to illness / disability
              - Self-employed
              - Retired
              - Carer
              - Student
              - Other
            monthly-income:
              description: The categorised monthly values for credit transactions
              type: object
              properties:
                earnings:
                  description: The monthly values for earnings income categories
                  type: object
                  required:
                  - client-salary-or-wages
                  - other-earnings
                  properties:
                    client-salary-or-wages:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    other-earnings:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                benefits:
                  description: The monthly values for benefits income categories
                  type: object
                  required:
                  - tax-credits-universal-credit
                  - jobseekers-allowance-contribution-based
                  - income-support
                  - working-tax-credit
                  - child-tax-credit
                  - child-benefit
                  - employment-support-allowance
                  - disability-benefits
                  - carers-allowance
                  - other-benefits
                  properties:
                    tax-credits-universal-credit:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    jobseekers-allowance-contribution-based:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    income-support:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    working-tax-credit:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    child-tax-credit:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    child-benefit:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    employment-support-allowance:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    disability-benefits:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    carers-allowance:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    other-benefits:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                pensions:
                  description: The monthly values for pensions income categories
                  type: object
                  required:
                  - state-pensions
                  - private-work-pensions
                  - pension-credit
                  properties:
                    state-pensions:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    private-work-pensions:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    pension-credit:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                other-income:
                  description: The monthly values for other income categories
                  type: object
                  required:
                  - maintenance-child-support
                  - boarders-lodgers
                  - student-loans-grants
                  - other-other-income
                  properties:
                    maintenance-child-support:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    boarders-lodgers:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    student-loans-grants:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                          required:
                          - min
                          - max
                          - mean
                    other-other-income:
                      description: The monthly amount
                      type: object
                      properties:
                        monthly-amount:
                          description: The minimum, mean and maximum monthly amount
                          type: object
                          additionalProperties: false
                          properties:
                            min:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            max:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
                                  description: The amount in minor units of the currency, eg. pennies for GBP, negative means money going out of an account, positive means money coming into an account.
                                  example: -2323
                                  type: integer
                                majorUnits:
                                  description: The positive major units of the value, based on the values currency, eg. pounds for GBP.
                                  example: 23
                                  type: integer
                                minorUnits:
                                  description: The positive minor units of the value, based on the values currency, eg. pennies for GBP.
                                  example: 23
                                  type: integer
                                currency:
                                  description: The currency of the amount
                                  example: GBP
                                  type: string
                              required:
                              - value
                              - currency
                            mean:
                              additionalProperties: false
                              type: object
                              properties:
                                value:
[...]
